.button {
  appearance: none;
  display: inline-flex;
  min-width: 5.14em;
  margin: 0.29em 0.29em;
  color: var(--contrast-color, #ffffff);
  background-color: var(--pop-color, #333333);
  text-align: center;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 5px;
  padding: 0.7em 0.57em;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  pointer-events: all;
  justify-content: center;
  align-items: center;
  transition: background var(--animate-150, 150ms) linear;
  transform: translate3d(0, 0, 0);
  flex-direction: row;
  border: none;
  overflow: visible;
}

.button:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: opacity var(--animate-150, 150ms) cubic-bezier(.33, .17, .85, 1.1);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}

.button:hover:after {
  opacity: 1;
}

.button:hover:active:after {
  opacity: 0;
}

.button[disabled] {
  background: rgba(84, 84, 84, 0.4);
  color: #ffffff;
  box-shadow: none;
  cursor: none;
  pointer-events: none;
}

.button[disabled]:active,
.button[disabled]:hover,
.button[disabled]:active:hover {
  box-shadow: none;
}

.button[noshadow],
.button[noshadow]:hover,
.button[noshadow]:hover:after,
.button[noshadow]:after {
  box-shadow: none;
}

.button[noshadow]:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.button>* {
  pointer-events: none;
}

.button :first-child {
  margin-right: 1em;
}

.button :nth-child(2) {
  display: flex;
  align-items: center;
  margin-right: 1em;
}